#basic
python-decouple

#telegram-api
telethon
ethon==1.0.7
telethon-tgcrypto
cryptg

#database
pymongo
motor
pymongo[srv]
dnspython

#thumbnail
telegraph
Pillow>=5.3.0

#heroku
heroku3

#uploading
gdown
yt-dlp
requests

#for yt videos(only)
pyUltroid #idk why but this method is faster despite i tried everything.
youtube_dl
youtube-search-python #useless_here

#useless, lazy to clean
m3u8
futures
pycrypto
pycryptodome
