#basic
python-decouple

#telegram-api
telethon
ethon==1.2.5 #mine
telethon-tgcrypto
cryptg

#database
pymongo
motor
pymongo[srv]
dnspython

#thumbnail
telegraph
Pillow>=5.3.0

#heroku
heroku3

#uploading
gdown

